<%= provide(:title, "Trending episodes") %>

<div class="overflow-x-hidden">
    <div class="row">
        <aside class="col-md-auto sidebar">
            <%= render 'channels/sidebar' %>
        </aside>

        <div class="col main">
        
        </div>
        
        <aside class="col-md-auto">
            vcajcvbkdacdvchvdjcd
        </aside>
    </div>
</div>