<%= render partial: 'channel_header' %>

<div class="container my-3">
    <div class="row">
        <% if action_name == 'show' %>
            This is the home section of channel page. I will come back to this.
        <% end %>
    </div>
</div>