<% provide(:title, @episode.title) %>

<h1><%= @episode .title %></h1>
<%= @episode.description %>

<hr>

<% unless @episode.tags.blank? %>
    <% @episode.tags.each do |tag| %>
        <p><%= tag.name %></p>
    <% end %>
<% end %>