<div class="overflow-x-hidden">
    <div class="row">
        <aside class="col-md-auto">
            <%= render 'channels/sidebar' %>
        </aside>

        <div class="col">
            <!-- dynamic content based on sub page e.g list of episodes, subscriprions -->
            <%= render 'channels/channel_layout_renderer' %>
        </div>
    </div>
</div>